<nav class="grey darken-3">
    <div class="nav-wrapper container">

        <a href="#!" class="brand-logo right">StoryBooks</a> 
      
        <ul>
            <li><a href="/stories" class=" btn black left">Public Stories</a></li>
            <li><a href="/dashboard" class="btn black left">Dashboard</a></li>
            <li><a href="/auth/logout" class="btn black left">Logout</a></li>
        </ul>
    </div>
</nav>